<header class="main_menu_sec navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12">
				<div class="lft_hd">
					<a asp-controller="home" asp-action="index">
                        <!--<img src="img/logo.png" alt=""/>-->
                        <h1 class="text-info">Lagos dotnet user group</h1>
                    </a>
				</div>
			</div>			
			<div class="col-lg-9 col-md-9 col-sm-12">
				<div class="rgt_hd">					
					<div class="main_menu">
						<nav id="nav_menu">
							<button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>	
						<div id="navbar">
							<ul>
								<li><a class="page-scroll" asp-controller="home" asp-action="index">Home</a></li> 
								<li><a class="page-scroll" asp-controller="home" asp-action="events">Events</a></li> 
								<li><a class="page-scroll" asp-controller="home" asp-action="videos">Videos</a></li> 
							</ul>
						</div>		
						</nav>			
					</div>					
						
				</div>
			</div>	
		</div>	
	</div>	
</header>